.box {
  display: flex;
  justify-content: center;
}

.button-box {
  display: flex;
  justify-content: center;
}
.button-box > button {
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: antiquewhite;
  margin: 5px;
}
.button-box > button:hover {
  background-color: bisque;
}

.button-box > .count {
  margin: 10px;
}
